Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers
WarningsAsErrors: 'clang-analyzer-*,bugprone-*'
HeaderFilterRegex: '^(src|include)/'
FormatStyle: none
